# _____                              _______________________________
# ____/ TELEMAC Project Definitions /______________________________/
#
# based on systel.cis-ubuntu.cfg from v7p2r0
#
[Configurations]
configs:   mp-gcc9 mp-openmpi-gcc9
# _____          ____________________________________
# ____/ General /___________________________________/
# Global declaration that are true for each configuration
[general]
options:
language:   2
modules:    clean system
#
cmd_lib:    ar cru <libname> <objs>
#
mods_all:   -I <config>
#
sfx_zip:    .zip
sfx_lib:    .a
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:
#
val_root:   <root>/examples
val_rank:   all
#
cmd_obj_c: gcc-mp-9 -c <srcName> -o <objName>
#
# _____                           ____________________________________
# ____/ Mac OS X gfortran scalar /___________________________________/
[mp-gcc9]
#
mpi_cmdexec: <exename>
#
cmd_obj:    gfortran-mp-9 -cpp -c -O2 -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name>
cmd_exe:    gfortran-mp-9 -fconvert=big-endian -frecord-marker=4 -v -o <exename> <objs> <libs>
#
# _____           				   ____________________________________
# ____/ Mac OS X gfortran openmpi /___________________________________/
[mp-openmpi-gcc9]
#
mpi_cmdexec:  mpiexec-openmpi-gcc9 -wdir <wdir> -n <ncsize> <exename>
#
cmd_obj:    gfortran-mp-9 -cpp -c -g -fbounds-check -fbacktrace -finit-real=nan -DHAVE_MPI -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name>
cmd_exe:    mpif90-openmpi-gcc9 -fconvert=big-endian -frecord-marker=4 -lpthread -v -lm -o <exename> <objs> <libs>
#
incs_all:	-I /opt/local/include/openmpi-gcc9/
libs_all:   /opt/local/lib/openmpi-gcc9/libmpi.dylib /opt/local/lib/openmpi-gcc9/libmpi_mpifh.dylib /opt/local/lib/libmetis.dylib
#
